<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Questions</title>
</head>
<body>
<h1>Questions</h1>
<p><a href="{{ url_for("add_new_question") }}">Ask a new question!</a></p>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Submission time</th>
            <th>View number</th>
            <th>Vote number</th>
            <th>Title</th>
        </tr>
    </thead>
    <tbody>
    {% for row in questions %}
        <tr>
            <td>{{ row["id"] }}</td>
            <td>{{ row["submission_time"] }}</td>
            <td>{{ row["view_number"] }}</td>
            <td>{{ row["vote_number"] }}</td>
            <td><a href="{{ url_for("display_question", question_id=row["id"])}}">{{ row["title"] }}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>